<div class="multi-mode-input-wrapper">
  <div class="view-mode" *ngIf="inputMode === 'view'"
       fxLayout="row" fxLayoutAlign="start center">
    <div *ngIf="value != null && value.length > 0" [style.min-width]="minWidthStyle" (click)="canActivate && switchInputMode()">
      {{value}}
    </div>
    <div *ngIf="value == null || value.length < 1" [style.min-width]="minWidthStyle" (click)="canActivate && switchInputMode()">
      {{emptyMessage}}
    </div>
  </div>

  <div class="edit-mode" *ngIf="inputMode === 'edit'">
    <mat-form-field class="form-field-input" [style.width]="minWidthStyle">
      <input *ngIf="!textArea" matInput id="valueInput" class="edit-mode-input"
             (blur)="changeValue()" [(ngModel)]="value"/>

      <textarea *ngIf="textArea" matInput cdkTextareaAutosize id="valueInput" class="edit-mode-input"
                [style.width]="minWidthStyle" (blur)="changeValue()" [(ngModel)]="value">
      </textarea>
    </mat-form-field>
  </div>
</div>
