.logout {
  cursor: pointer;
}

.title {
  outline: none;
  cursor: pointer;
}

.person {
  cursor: pointer;
  margin-left: auto;
}

.home {
  outline: none;
  cursor: pointer;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 50px;
}
