.styled-input {
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none !important;
  }

  ::ng-deep  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  ::ng-deep .mat-form-field-infix {
    border: none;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    font-size: 16px;
    margin: 7px !important;
  }

  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    display: none;
  }
}

.rowfeed-wrapper {

}

.rowfeed-content {
  white-space: pre
}

.content-field {
  padding-top: 10px;
  margin: 5px 30px 0 30px;
}

.title-input {
  background-color: #c8cad1;
  border-radius: 5px;
  padding: 5px;
}

.form-field-input {
  font-weight: lighter;
}

.comment-wrapper {
  margin-top: 10px;
}

.comment-header {
  padding: 3px;
  font-size: 15px;
  font-weight: 500;
}

.comment-container {
  background-color: #EBECF0;
  padding: 10px;
  //border: 1px solid #c8cad1;
  border-radius: 3px;

  font-weight: lighter;
  white-space: pre
}
