.rowfeed-wrapper {

}

.rowfeed-name {
  height: 19px;
  padding-right: 30px;
}

.rowfeed-content {
  white-space: pre
}

.content-field {
  padding-top: 10px;
  margin: 5px 30px 0 30px;
}

.title-input {
  background-color: #c8cad1;
  border-radius: 5px;
  padding: 5px;
}

.form-field-input {
  font-weight: lighter;
}

.comment-wrapper {
  margin-top: 10px;
}

.comment-header {
  padding: 3px;
  font-size: 15px;
  font-weight: 500;
}

.comment-container {
  background-color: #EBECF0;
  padding: 10px;
  border-radius: 3px;

  font-weight: lighter;
  white-space: pre
}

.comment-input {
  width: 100%;
  padding-right:10px
}

.delete-icon {
  margin-left: auto;
  margin-bottom: auto;
  cursor: pointer;

  font-size: 20px;
}
