<div class="rowfeed-wrapper" fxLayout="column" fxLayoutGap="20px">
  <div class="rowfeed-name styled-input" fxLayoutAlign="start center" fxLayoutGap="5px">
    <div class="material-icons">title</div>
    <div *ngIf="nameFieldMode === 'view'"
         fxLayout="row">
      <div (click)="switchNameFieldMode()">{{row.name}}</div>
    </div>

    <div *ngIf="nameFieldMode === 'edit'">
      <mat-form-field class="form-field-input">
        <input id="rowNameInput" class="title-input" matInput placeholder="Row name" (blur)="editRowName($event)" [value]="row.name"/>
      </mat-form-field>
    </div>
  </div>

  <div class="rowfeed-content styled-input">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div class="material-icons">description</div>
      <div>Row content</div>
    </div>

    <div class="content-field">
      <div *ngIf="contentFieldMode === 'view'"
           fxLayout="row" fxLayoutAlign="start center">
        <div (click)="switchContentFieldMode()">{{row.content}}</div>
        <div *ngIf="row.content === null || row.content.length === 0" (click)="switchContentFieldMode()">Add any content</div>
      </div>

      <div *ngIf="contentFieldMode === 'edit'">
        <mat-form-field class="form-field-input">
        <textarea id="rowContentInput" class="title-input" matInput cdkTextareaAutosize placeholder="Row content"
                  (blur)="editRowContent($event)" [value]="row.content">

        </textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="rowfeed-feed">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div class="material-icons">message</div>
      <div>Feed</div>
    </div>

    <div class="content-field">
      <mat-form-field style="width: 100%">
        <textarea #messageInput matInput cdkTextareaAutosize placeholder="Comment"></textarea>
      </mat-form-field>

      <button mat-raised-button (click)="addComment(messageInput)">Add message</button>


      <div class="comment-wrapper"
           fxLayout="column" fxLayoutGap="10px">

        <div *ngFor="let msg of messages">
          <div [id]="msg.id" class="comment-wrapper animated bounceIn fast" fxLayout="column">
            <div class="comment-header">{{msg.sender.email}} - {{msg.created | date: 'short'}}</div>
            <div class="comment-container" fxLayout="row" fxLayoutAlign="start center">
              <div>{{msg.text}}</div>
              <div class="material-icons delete-icon" (click)="deleteComment(msg)">delete</div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

</div>
