<div class="rowfeed-wrapper" fxLayout="column" fxLayoutGap="20px">
  <div class="rowfeed-name" fxLayoutAlign="start center" fxLayoutGap="5px">
    <div class="material-icons">title</div>
    <multi-mode-input [value]="row.name" [minWidthStyle]="'220px'"
                      (valueChanged)="editRowName($event)">
    </multi-mode-input>
  </div>

  <div class="rowfeed-content styled-input">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div class="material-icons">description</div>
      <div>Row content</div>
    </div>

    <div class="content-field">
        <multi-mode-input [value]="row.content" [minWidthStyle]="'100%'" [textArea]="true"
                          (valueChanged)="editRowContent($event)">
        </multi-mode-input>
    </div>
  </div>

  <div class="rowfeed-feed">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div class="material-icons">message</div>
      <div>Feed</div>
    </div>

    <div class="content-field">
      <mat-form-field style="width: 100%">
        <textarea #messageInput matInput cdkTextareaAutosize placeholder="Comment"></textarea>
      </mat-form-field>

      <button mat-raised-button (click)="addComment(messageInput)">Add message</button>


      <div class="comment-wrapper"
           fxLayout="column" fxLayoutGap="10px">

        <div *ngFor="let msg of messages">
          <div [id]="msg.id" class="comment-wrapper animated bounceIn fast" fxLayout="column">
            <div class="comment-header">{{msg.sender.email}} - {{msg.created | date: 'short'}}</div>
            <div class="comment-container" fxLayout="row" fxLayoutAlign="start center">
              <div>{{msg.text}}</div>
              <div class="material-icons delete-icon" (click)="deleteComment(msg)">delete</div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

</div>
