<div class="board-container">
  <div class="board-title" (mouseenter)="showDeleteIcon($event)" (mouseleave)="hideDeleteIcon($event)"
       fxLayout="row" fxLayoutAlign="space-between">
    <div class="board-title-content">{{currentBoard.name}}</div>
    <div class="material-icons delete-icon" (click)="deleteBoard()"
         fxFlexAlign="center">
      delete
    </div>
  </div>

  <div cdkDropList
       [cdkDropListData]="currentBoard.boardColumns"
       (cdkDropListDropped)="dropColumn($event)"
       cdkDropListOrientation="horizontal"
       fxLayout="row" fxLayoutGap="10px">

    <div class="column" *ngFor="let column of currentBoard.boardColumns" cdkDrag
         fxFlexAlign="start">
      <div class="column-title" (mouseenter)="showDeleteIcon($event)" (mouseleave)="hideDeleteIcon($event)"
           fxLayout="row" fxLayoutAlign="space-between">
        <div class="column-title-content">{{column.name}}</div>
        <div class="material-icons delete-icon" (click)="deleteColumn(column)"
             fxFlexAlign="center">
          delete
        </div>
      </div>

      <div [id]="column.name"
           cdkDropList
           [cdkDropListData]="column.rows"
           (cdkDropListDropped)="dropRow($event)"
           [cdkDropListConnectedTo]="connectedList"
           fxLayout="column" fxLayoutGap="5px">
        <div class="row" *ngFor="let row of column.rows" cdkDrag (mouseenter)="showDeleteIcon($event)" (mouseleave)="hideDeleteIcon($event)"
             fxLayout="row" fxLayoutAlign="space-between">
          <div class="row-content">{{row.content}}</div>
          <div class="material-icons delete-icon" (click)="deleteRow(column, row)"
                fxFlexAlign="center">
            delete
          </div>
        </div>

        <div class="add-row-box" (click)="addRow(column)">Add row</div>
      </div>
    </div>

    <div class="add-column" fxFlexAlign="start">
      <div class="add-column-box" (click)="addColumn()">Add column</div>
    </div>

  </div>
</div>
