<div class="board-container" fxLayout="column">
  <div class="board-title"  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div class="board-name"
         (mouseenter)="isOwner && showDeleteIcon($event)" (mouseleave)="isOwner && hideDeleteIcon($event)"
          fxLayout="row" fxLayoutAlign="start center">
      <multi-mode-input [value]="currentBoard.name" [minWidthStyle]="'220px'" [allowEmpty]="false"
                        (valueChanged)="editBoardName($event)">
      </multi-mode-input>
      <div class="material-icons delete-icon" *ngIf="isOwner" (click)="deleteBoard()">delete</div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxHide.lt-md>
      <button mat-raised-button color="primary" (click)="inviteCollab(emailInput)">Invite</button>

      <mat-form-field class="form-field-input">
        <input #emailInput class="title-input" matInput placeholder="Collaborator email"/>
      </mat-form-field>
    </div>

    <div class="menu" (click)="openMenu()"
         fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div fxHide.lt-sm>Menu</div>
      <div class="material-icons">menu</div>
    </div>

  </div>

  <div class="board-content"
       (mousemove)="isMouseDown && scrollBoardContent($event)"
       (mousedown)="mouseDown($event)" (mouseup)="mouseUp()" (mouseleave)="mouseUp()"
       cdkDropList
       [cdkDropListData]="currentBoard.boardColumns"
       (cdkDropListDropped)="dropColumn($event)"
       cdkDropListOrientation="horizontal"
       fxFlex="1 0" fxLayout="row" fxLayoutGap="10px">

    <div class="column" *ngFor="let column of currentBoard.boardColumns" cdkDrag
         fxFlexAlign="start">
      <div class="column-title" (mouseenter)="showDeleteIcon($event)" (mouseleave)="hideDeleteIcon($event)"
           fxLayout="row" fxLayoutAlign="space-between center">
        <div class="column-title-content">
          <multi-mode-input [value]="column.name" [allowEmpty]="false" (valueChanged)="editColumnName($event, column)">
          </multi-mode-input>
        </div>
        <div class="material-icons delete-icon" (click)="deleteColumn(column)"
             fxFlexAlign="center">
          delete
        </div>
      </div>

      <div [id]="column.name"
           cdkDropList
           [cdkDropListData]="column.rows"
           (cdkDropListDropped)="dropRow($event)"
           [cdkDropListConnectedTo]="connectedList"
           fxLayout="column" fxLayoutGap="5px">
        <div class="row" cdkDrag *ngFor="let row of column.rows" (click)="openRowFeed(row, column)"
             (mouseenter)="showDeleteIcon($event)" (mouseleave)="hideDeleteIcon($event)"
             fxLayout="row" fxLayoutAlign="space-between">
          <div class="row-content">{{row.name}}</div>
          <div class="material-icons delete-icon" (click)="deleteRow(column, row)"
                fxFlexAlign="center">
            delete
          </div>
        </div>

        <div class="add-row-box" (click)="addRow(column)">Add row</div>
      </div>
    </div>

    <div class="add-column" fxFlexAlign="start">
      <div class="add-column-box" (click)="addColumn()">Add column</div>
    </div>

  </div>
</div>
