.menu-container {
  margin-top: 10px;
}

.participants {
  margin-top: 5px;
}

.close-menu {
  margin-left: auto;
  cursor: pointer;
}

.delete-icon {
  margin-left: auto;
  cursor: pointer;
}

.owner-icon {
  margin-left: auto;
}
