<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">


  <div class="login-container" fxLayout="row" fxLayoutAlign="start center">

    <div class="left-block" fxLayout="column" fxLayoutAlign="center center">
      <div class="title-block" fxLayout="column" fxLayoutAlign="center center">
        <div class="login-title">FLOWFALL</div>

        <div>Task tracker</div>
        <div>Optimize your work and ideas</div>

        <div style="padding-top: 50px"></div>

        <div class="title-points"
             fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
          <div>Create board</div>
          <div>Fill it with content</div>
          <div>Share it with collaborators</div>
        </div>
      </div>
    </div>

    <div class="right-block" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">

     <div class="login-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
       <div class="socials">
         <div class="social-btn"
              (click)="navigateToProvider(GOOGLE_PROVIDER_URL)"
              fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
           <img src="/assets/logos/google-logo.png" alt="Google logo" width="40px" height="40px">
           <div>Sign in with Google</div>
         </div>
       </div>

       <mat-form-field>
         <input matInput placeholder="Email" [(ngModel)]="user.email"/>
       </mat-form-field>

       <mat-form-field>
         <input matInput placeholder="Password" type="password" [(ngModel)]="user.password"/>
       </mat-form-field>

       <button mat-raised-button color="primary" (click)="login()">Login</button>
     </div>
    </div>

  </div>
</div>
