<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="60px">
  <div class="login-title">FLOWFALL</div>

  <div class="login-container" fxLayout="column" fxLayoutGap="5px">

    <div class="socials">
      <a class="social-btn"
         [href]="GOOGLE_PROVIDER_URL"
         fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
        <img src="/assets/logos/google-logo.png" alt="Google logo" width="40px" height="40px">
        <div>Sign in with Google</div>
      </a>
    </div>

    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="user.email"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" [(ngModel)]="user.password"/>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </div>
</div>
