.login-wrapper {
  height: 100vh;

  .login-title {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 50px;
    letter-spacing: 9px;
  }
}

.login-container {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 0 10px gray;

  padding: 40px;
  width: 380px;
}

.socials {

  margin-bottom: 40px !important;

  .social-btn {
    text-decoration: none;
    color: black;

    border: 1px solid black;
    border-radius: 5px;

    &:hover {
      color: white;
      background-color: #3f51b5;
    }
  }
}

