<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">


  <div class="login-container" fxLayout="row" fxLayoutAlign="start center">

    <div class="left-block" fxLayout="column" fxLayoutAlign="center center">
      <div class="title-block" fxLayout="column" fxLayoutAlign="center center">
        <div class="login-title">FLOWFALL</div>

        <div>Task tracker</div>
        <div>Optimize your work and ideas</div>

        <div style="padding-top: 50px"></div>

        <div class="title-points"
             fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
          <div>Create board</div>
          <div>Fill it with content</div>
          <div>Share it with collaborators</div>
        </div>
      </div>
    </div>

    <div class="right-block" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
     <div class="auth-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
       <div class="socials" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
         <div class="social-btn"
              (click)="navigateToProvider(FACEBOOK_PROVIDER_URL)"
              fxLayout="row" fxLayoutAlign="start center" >
           <img src="/assets/logos/fb-logo.png" alt="Facebook logo" width="30px" height="30px">
           <div class="social-btn-text">Sign in with Facebook</div>
         </div>

         <div class="social-btn"
              (click)="navigateToProvider(GOOGLE_PROVIDER_URL)"
              fxLayout="row" fxLayoutAlign="start center">
           <img src="/assets/logos/google-logo.png" alt="Google logo" width="30px" height="30px">
           <div class="social-btn-text">Sign in with Google</div>
         </div>
       </div>

       <form *ngIf="loginMode" [formGroup]="loginForm" (ngSubmit)="login()"
             fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
         <mat-form-field>
           <input matInput formControlName="email" placeholder="Email"/>
           <mat-error *ngIf="loginCtrls.email.errors?.required">Email is required</mat-error>
         </mat-form-field>

         <mat-form-field>
           <input matInput formControlName="password" placeholder="Password" type="password"/>
           <mat-error *ngIf="loginCtrls.password.errors?.required">Password is required</mat-error>
         </mat-form-field>

         <button mat-raised-button type="submit" color="primary">Sign in</button>
         <div class="auth-text">
           Don't have an account? <span class="auth-btn" (click)="switchForms()">Sign up</span>
         </div>
       </form>

       <form *ngIf="!loginMode" [formGroup]="registerForm" (ngSubmit)="register()"
             fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
         <mat-form-field>
           <input matInput formControlName="fullname" placeholder="Full name"/>
           <mat-error *ngIf="registerCtrls.fullname.errors?.required">Full name is required</mat-error>
         </mat-form-field>

         <mat-form-field>
           <input matInput formControlName="email" placeholder="Email"/>
           <mat-error *ngIf="registerCtrls.email.errors?.email">Enter a valid email</mat-error>
           <mat-error *ngIf="registerCtrls.email.errors?.required ">Email is required</mat-error>
           <mat-error *ngIf="registerCtrls.email.errors?.serverError">{{registerCtrls.email.errors?.serverError}}</mat-error>
         </mat-form-field>

         <mat-form-field>
           <input matInput formControlName="password" placeholder="Password" type="password"/>
           <mat-error *ngIf="registerCtrls.password.errors?.required">Password is required</mat-error>
         </mat-form-field>

         <mat-form-field>
           <input matInput formControlName="confirmPassword" placeholder="Confirm password" type="password"/>
           <mat-error *ngIf="registerCtrls.confirmPassword.errors?.required">Password is required</mat-error>
           <mat-error *ngIf="registerCtrls.confirmPassword.errors?.passwordMatch">Password should match</mat-error>
         </mat-form-field>

         <button mat-raised-button type="submit" color="primary">Sign up</button>

         <div class="auth-text">
           Have an account? <span class="auth-btn" (click)="switchForms()">Sign in</span>
         </div>
       </form>

     </div>
    </div>

  </div>
</div>
